Options -Indexes +FollowSymLinks
DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>

<IfModule mod_authz_core.c>
    CGIPassAuth On
</IfModule>

